GEMINI_API_KEY=<your_key>
REPLICATE_API_TOKEN=<your_key>
OPENAI_API_KEY=<your_key>

# MongoDB Configuration
# MONGO_USER=payador_user
# MONGO_PASSWORD=your_password_with_special_chars
# MONGO_CLUSTER=payador-cluster.dhzpzd0.mongodb.net
